.grid{
    border: 1px solid black;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
}

.grid div{
    height: 20px;
    width: 20px;
}

.ending-block{
    background-image: url("finish.png");
    background-size: cover;
}
.starting-block{
    background-image: url("lilypad.png");
    background-size: cover;
}

.l1, .l2, .l3{
    background-image: url("log.png");
    background-size: cover;
    background-color: lightblue;
}

.l4,.l5{
    background-color: lightblue;
}

.c1{
    background-image: url("boulder.png");
    background-size: cover;
    background-color: lightgray;
}
.c2,.c3{
    background-color: lightgray;
}

.frog{
    background-image: url("frog.png");
    background-size: cover;
 }

 body{
    background-image: url("grass.jpg");
    background-size: contain;
 }

 h3{
    color: #042f66;
    background-color: lightgray;

 }